# Composer
/vendor/

# PHPStorm or other IDE config files
/.idea/

# Composer lock file - if you don't want to lock dependencies to a specific version (optional)
composer.lock

# PHPUnit
/phpunit-result.xml

# Log files
*.log

# OS-specific files
.DS_Store  # macOS
Thumbs.db  # Windows

mysql-data


